.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 200px;
}

.input-container label {
  font-size: 12px;
  color: #999;
  font-weight: 700;
}

.input {
  padding: 5px;
  min-height: 30px;
  border-radius: 5px;
  border: 1px #333;
  background: #333;
  color: #f9f9f9;
  font-size: 12px;
}

.row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 5px;
}

.checkbox {

}

