.controls {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  min-height: 100vh;
  background: #222;
  color: #f9f9f9;
}

.tab-container {
  display: flex;
  margin: 0 0 20px 0;
  width: 200px;
}

.tab {
  display: flex;
  z-index: 999;
  cursor: pointer;
  color: #f9f9f9;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  background: #333;
  margin: 0 10px 0 0;
}
